<%= render 'shared/banner' %>

<!-- section of the 4 sections -->
<div class="section4">
  <div class="homecard">
    <%= link_to "slow", products_path %>
  </div>
  <div class="homecard">
    <%= link_to "smooth", products_path %>
  </div>
  <div class="homecard">
    <%= link_to "fast", products_path %>
  </div>
  <div class="homecard">
    <%= link_to "hard", products_path %>
  </div>

</div>

<!-- section of the all -->
<div class="homeall">
  <%= link_to "All the style", products_path %>
</div>
